section#signup.signup-section
  .container
    .row
      .col-md-10.col-lg-8.mx-auto.text-center
        i.far.fa-paper-plane.fa-2x.mb-2.text-white
        h2.text-white.mb-5 聯絡我們 / CONTACT
        form.form-inline.d-flex
          input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email', placeholder='輸入您的信箱')
          button.btn.btn-primary.mx-auto(type='submit') 送出

section.contact-section.bg-black
  .container
    .row
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-map-marked-alt.text-primary.mb-2
            h4.text-uppercase.m-0 Line
            hr.my-4
            .small.text-black-50 @1235
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-envelope.text-primary.mb-2
            h4.text-uppercase.m-0 Email
            hr.my-4
            .small.text-black-50
              a(href='#') matchakon@gmail.com
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-mobile-alt.text-primary.mb-2
            h4.text-uppercase.m-0 Phone
            hr.my-4
            .small.text-black-50 +886 902-199-888
